{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["babel-plugin-styled-components"],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "api": "./api",
          "components": "./components",
          "containers": "./containers",
          "layout": "./layout",
          "stores": "./stores",
          "renderer": "./renderer"
        }
      }
    ]
  ]
}